@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
}

p {
  margin-bottom: 0;
  font-weight: 400;
  color: #696974;
  line-height: 28px;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 0;
}

h3 {
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
}

h5 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
}

.menu_bg {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.menu_bg .navbar-toggler {
  border-color: #aaa6a7;
  border-radius: 0;
  padding: 8px 16px;
}
.menu_bg .navbar-toggler i {
  color: #ffffff;
}
.menu_bg .navbar-toggler:focus {
  box-shadow: none;
}
.menu_bg .navbar-nav,
.menu_bg .contact_btn {
  text-align: center;
  transition: all linear 0.5s;
}
.menu_bg .menu_btn i.xxxx {
  transition: all linear 0.5s;
}
.menu_bg .menu_btn i.xxxx::before {
  content: "\f00d";
}

.bg {
  -webkit-animation: rrrrr 1s;
          animation: rrrrr 1s;
  top: 0;
  background-color: rgba(28, 30, 83, 0.7882352941) !important;
}

@-webkit-keyframes rrrrr {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}

@keyframes rrrrr {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
/* back2top start*/
.back2top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  background-color: rgba(28, 30, 83, 0.8352941176);
  border-radius: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #222222;
}
.back2top i {
  margin-top: 5px;
  color: #ffffff;
}

.back2top:hover {
  background-color: #696974 !important;
  color: #ffffff !important;
  border: 2px solid #000 !important;
}

/* back2top end */
.menu_bg {
  background-color: #1C1E53;
  padding: 32px 0;
}
.menu_bg .menu_bar ul li a {
  color: #BBBBCB;
  margin-right: 32px;
}
.menu_bg .menu_bar ul li .active {
  color: #FCD980;
}
.menu_bg .menu_bar ul li :hover {
  color: #FCD980;
}
.menu_bg .menu_bar ul :last-child a {
  margin-right: 0px;
}
.menu_bg .contact_btn a {
  padding: 16px 48px;
  border: 1px solid #F4F6FC;
  border-radius: 41px;
  color: #FFFFFF;
}
.menu_bg .contact_btn :hover {
  background-color: #FCD980;
  color: #000;
}

.hero {
  padding: 150px 0px;
  background-color: #1C1E53;
}
.hero .hero_text {
  color: #FFFFFF;
}
.hero .hero_text h1 {
  margin-bottom: 24px;
}
.hero .hero_text p {
  margin-bottom: 48px;
  color: #FFFFFF;
}
.hero .hero_text .banner_btn a {
  padding: 16px 56px;
  border-radius: 41px;
  border: 1px solid #F4F6FC;
  color: #FFFFFF;
}
.hero .hero_text .banner_btn :hover {
  color: #000;
  background-color: #FCD980;
}
.hero .hero_text .banner_btn :hover span path {
  fill: #000;
}
.hero .hero_img {
  text-align: end;
}
.hero .hero_img img {
  width: 638px;
  height: 361px;
}

.how_work {
  padding: 128px 0;
  background-color: #F4F6FC;
}
.how_work .how_work_head .work_btn a {
  color: #2405F2;
}
.how_work .how_work_head .work_btn a span {
  margin-left: 10px;
}
.how_work .how_work_head .work_btn a span path {
  fill: #2405F2;
}
.how_work .how_work_head .work_btn :hover {
  color: #000;
}
.how_work .how_work_head .work_btn :hover path {
  fill: #000;
}
.how_work .how_work_head p {
  color: #656773;
  margin: 16px 0;
}
.how_work .how_work_card {
  padding: 0 120px;
}
.how_work .how_work_card .work_card_item {
  padding-bottom: 48px;
}
.how_work .how_work_card .work_card_item h5 {
  padding: 16px 0 8px 0;
}
.how_work .how_work_card :hover .change_bg {
  fill: #FCD980;
}

.project {
  padding: 128px 0;
}
.project .project_head {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
}
.project .project_head .project_btn a {
  color: #2405F2;
}
.project .project_head .project_btn a span {
  margin-left: 16px;
}
.project .project_head .project_btn :hover {
  color: #000;
}
.project .project_head .project_btn :hover path {
  fill: #000;
}

.project_left:hover .project_overley {
  opacity: 1;
  height: 100%;
  transition: all linear 0.5s;
}

.project_left {
  position: relative;
}
.project_left img {
  width: 100%;
}
.project_left .project_overley {
  position: absolute;
  height: 0%;
  width: 400px;
  background: rgba(28, 30, 83, 0.788);
  top: 0;
  left: 0;
  padding-left: 48px;
  opacity: 0;
  transition: all linear 0.5s;
}
.project_left .project_overley h6 {
  color: #FFFFFF;
  margin-top: 280px;
}
.project_left .project_overley p {
  color: #FFFFFF;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.project_left .project_overley .overley_btn a {
  color: #FCD980;
}
.project_left .project_overley .overley_btn a span {
  margin-left: 16px;
}
.project_left .project_overley .overley_btn :hover {
  color: #FFFFFF;
}
.project_left .project_overley .overley_btn :hover span path {
  fill: #FFFFFF;
}

.project_right:hover .project_overley {
  opacity: 1;
  height: 100%;
  transition: all linear 0.5s;
}

.project_right {
  position: relative;
  margin-bottom: 32px;
}
.project_right img {
  width: 100%;
}
.project_right .project_overley {
  position: absolute;
  height: 0;
  width: 100%;
  background: rgba(28, 30, 83, 0.788);
  top: 0;
  left: 0;
  padding-left: 48px;
  transition: all linear 0.5s;
  opacity: 0;
}
.project_right .project_overley h6 {
  color: #FFFFFF;
  margin-top: 100px;
}
.project_right .project_overley .overley_btn a {
  color: #FCD980;
}
.project_right .project_overley .overley_btn a span {
  margin-left: 16px;
}
.project_right .project_overley .overley_btn :hover {
  color: #FFFFFF;
}
.project_right .project_overley .overley_btn :hover span path {
  fill: #FFFFFF;
}

.feature {
  padding: 128px 0;
  background-color: #F4F6FC;
}
.feature .feature_intro p {
  padding-bottom: 12px;
}
.feature .feature_intro h2 {
  padding-bottom: 47px;
}
.feature .feature_item_gap {
  --bs-gutter-y: 24px;
}
.feature .feature_item_gap .feature_item {
  padding: 58px 32px 48px 48px;
  background-color: #FFFFFF;
  transition: all 0.5s;
}
.feature .feature_item_gap .feature_item .f_icon {
  width: 32px;
  height: 28px;
  margin-bottom: 22px;
}
.feature .feature_item_gap .feature_item h6 {
  padding-bottom: 12px;
}

.feature_item:hover {
  margin-top: -5px;
  transition: all 0.5s;
}
.feature_item:hover .f_icon path {
  fill: #FCD980;
}

.client {
  padding: 128px 0;
}
.client .client_about {
  max-width: 327px;
}
.client .client_about h3 {
  padding-bottom: 16px;
}
.client .client_slider {
  position: relative;
}
.client .client_slider .prev {
  right: 50px;
}
.client .client_slider .next {
  right: 0;
}
.client .client_slider .next,
.client .client_slider .prev {
  height: 48px;
  width: 48px;
  background-color: tra;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 22px;
  color: #282938;
  border-radius: 100%;
}
.client .client_slider .client_silde_item h5 {
  padding-bottom: 48px;
}
.client .client_slider .client_silde_item .client_details {
  align-items: center;
  display: flex;
}
.client .client_slider .client_silde_item .client_details .client_img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.client .client_slider .client_silde_item .client_details .client_img img {
  border-radius: 50%;
}
.client .client_slider .client_silde_item .client_details .client_text {
  padding-left: 14px;
}
.client .client_slider .client_silde_item .client_details .client_text h6 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.client .client_slider .client_silde_item .client_details .client_text p {
  font-weight: 500;
  font-size: 12px;
  color: #282938;
}

.client .next:hover,
.client .prev:hover {
  background-color: #5239FA;
  cursor: pointer;
  color: #FFFFFF;
}

.faq {
  padding: 128px 0;
}
.faq .faq_head {
  max-width: 327px;
}
.faq .faq_head h3 {
  padding-bottom: 16px;
}
.faq .faq_head a {
  color: #2405F2;
}
.faq .faq_head a:hover {
  color: #000;
}
.faq .faq_question .accordion-item {
  border: none;
}
.faq .faq_question .accordion-item .accordion-header button {
  border-radius: 0;
  border-bottom: 1px solid #DFDFE4;
}
.faq .faq_question .accordion-item .accordion-header button h6 span {
  padding-right: 60px;
  color: #2405F2;
}
.faq .faq_question .accordion-item .accordion-header button:not(.collapsed) {
  color: #000;
  background-color: #FCD980;
}
.faq .faq_question .accordion-item .accordion-body {
  border-bottom: 1px solid #DFDFE4;
}
.faq .faq_question .accordion-item .accordion-body p {
  padding: 16px 0 48px 0;
}

.contact .contact_head {
  padding: 96px 96px 262px 96px;
  height: 691px;
  background: linear-gradient(0deg, rgba(28, 30, 83, 0.432) 54%, rgba(28, 30, 83, 0.438) 54%), url(../images/contact_bg.jpg) no-repeat center/cover;
}
.contact .contact_head h1 {
  color: #FFFFFF;
}
.contact .contact_head p {
  color: #FFFFFF;
  padding-top: 24px;
}
.contact .contact_form {
  height: 691px;
  background-color: #1C1E53;
  padding: 96px 96px 48px 96px;
}
.contact .contact_form .contact_form_head h5 {
  color: #FFFFFF;
  padding-bottom: 16px;
}
.contact .contact_form .contact_form_head p {
  padding-bottom: 40px;
  color: #FFFFFF;
}
.contact .contact_form .form-control {
  background-color: transparent;
  padding: 18px;
  border-radius: 8px;
  color: #FFFFFF;
}
.contact .contact_form ::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
}
.contact .contact_form :-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
}
.contact .contact_form ::placeholder {
  font-weight: 400;
  font-size: 16px;
}
.contact .contact_form .form_btn {
  width: 100%;
  background-color: transparent;
  padding: 16px 150px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  font-family: "Manrope", sans-serif;
  border-radius: 50px;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 28px;
}
.contact .contact_form .form_btn:hover {
  color: #000;
  background-color: #FCD980;
}
.contact .contact_form .form_link {
  text-align: center;
}
.contact .contact_form .form_link a {
  color: #FFFFFF;
}
.contact .contact_form .form_link a:hover {
  color: #FCD980;
}
.contact .contact_form .form_link a:hover path {
  fill: #FCD980;
}

.blog {
  padding: 128px 0;
}
.blog .blog_head {
  padding-bottom: 64px;
}
.blog .blog_item {
  overflow: hidden;
}
.blog .blog_item img {
  width: 100%;
  margin-bottom: 40px;
  transform: scale(1);
  transition: all linear 0.5s;
}
.blog .blog_item img:hover {
  transform: scale(1.2);
}
.blog .blog_item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #696974;
}
.blog .blog_item h6 {
  padding: 16px 0;
}
.blog .blog_item p {
  margin-bottom: 32px;
}
.blog .blog_item .blog_link a {
  color: #000;
}
.blog .blog_item .blog_link a span {
  margin-left: 12px;
}
.blog .blog_item .blog_link :hover {
  color: #FCD980;
}
.blog .blog_item .blog_link :hover span path {
  fill: #FCD980;
}
.blog .blog_item:hover h6 {
  color: #1C1E53;
}

footer .footer_box {
  background-color: #1C1E53;
  padding-top: 100px;
}
footer .footer_box .footer_content .footer_logo p {
  padding-top: 22px;
  color: #FFFFFF;
  max-width: 400px;
}
footer .footer_box .footer_content .footer_logo .contact_information {
  background-color: #FCD980;
  padding: 17px 137px 16px 37px;
  margin-top: 86px;
  display: flex;
  justify-content: space-between;
  max-width: 517px;
}
footer .footer_box .footer_content .footer_logo .contact_information p {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
footer .footer_box .footer_content .footer_logo .contact_information span {
  color: #656773;
}
footer .footer_box .footer_content .footer_text {
  max-width: 400px;
}
footer .footer_box .footer_content .footer_text h2 {
  color: #FFFFFF;
  padding-bottom: 14px;
}
footer .footer_box .footer_content .footer_text p {
  color: grey;
}
footer .footer_box .footer_content .footer_text .footer_link {
  padding-top: 28px;
}
footer .footer_box .footer_content .footer_text .footer_link ul li a {
  margin-right: 27px;
}
footer .footer_box .footer_content .footer_text .footer_link ul li a i {
  color: #FFFFFF;
  height: 16px;
  width: 16px;
}
footer .footer_box .footer_content .footer_text .footer_link ul li a:hover i {
  color: #FCD980;
}
footer .footer_last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
footer .footer_last p {
  color: #282938;
  font-weight: 500;
}
footer .footer_last .footer_last_link ul li {
  display: inline-block;
  margin-right: 32px;
}
footer .footer_last .footer_last_link ul li a {
  color: #282938;
}
footer .footer_last .footer_last_link ul li a:hover {
  color: #FCD980;
}
footer .footer_last .footer_last_link :last-child {
  margin-right: 0px;
}

.about_hero {
  padding: 150px 0px;
}
.about_hero .about_hero_text {
  color: #000;
  padding: 24px;
}
.about_hero .about_hero_text span {
  color: #282938;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 8px;
}
.about_hero .about_hero_text h1 {
  margin-bottom: 31px;
}
.about_hero .about_hero_text p {
  margin-bottom: 9px;
}
.about_hero .about_hero_text .about_hero_img img {
  height: 336px;
  width: 547px;
}

.goal .goal_main {
  background-color: #F4F5F5;
  padding: 80px 109px 80px 80px;
}
.goal .goal_main .goal_text span {
  margin-bottom: 8px;
}
.goal .goal_main .goal_text h3 {
  padding-bottom: 16px;
}
.goal .goal_main .goal_text p {
  max-width: 515px;
}
.goal .goal_main .goal_text_right h3 {
  padding-top: 24px;
  padding-bottom: 16px;
}
.goal .goal_img img {
  width: 100%;
}

.process {
  padding: 128px 0;
}
.process .goal_title {
  margin-bottom: 80px;
}
.process .process_card .circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #2405F2;
  position: relative;
}
.process .process_card .circle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 48px;
  border: 2px dashed #2405F2;
  width: 224px;
  opacity: 0.4;
}
.process .process_card .process_text h6 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.mission {
  padding: 128px 0;
  background-color: #EEF4FA;
}
.mission .mission_text {
  padding-top: 54px;
}
.mission .mission_text h3 {
  padding: 16px 0;
}
.mission .vission {
  padding-top: 96px;
}
.mission .mission_img img {
  width: 100%;
}

.benifits {
  padding: 128px 0;
}
.benifits .benifit_item_box {
  padding: 48px 0;
}
.benifits .benifit_item_box .benifit_item {
  padding: 52px 32px 48px 48px;
  background-color: #F4F6FC;
}
.benifits .benifit_item_box .benifit_item h6 {
  padding-top: 26px;
  padding-bottom: 12px;
}
.benifits .benifit_item_box .benifit_item p {
  max-width: 325px;
}

.team {
  padding: 128px 0;
  background-color: #F4F6FC;
}
.team .team_title h2 {
  padding-bottom: 48px;
}
.team .team_items {
  background-color: #FFFFFF;
  padding: 48px 64px 32px 64px;
  text-align: center;
  width: 90%;
}
.team .team_items h6 {
  padding-top: 30px;
  margin-bottom: 0;
}
.team .team_items .team_img {
  position: relative;
}
.team .team_items .team_img img {
  margin: auto;
}
.team .team_items .team_img .team_overley {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 168px;
  width: 168px;
  background: linear-gradient(0deg, rgba(83, 57, 250, 0.589) 0%, rgba(255, 255, 255, 0.288) 100%);
  border-radius: 50%;
  opacity: 0;
  transition: all linear 0.5s;
  transform: translate(-50%, -50%);
}
.team .team_items .team_img .team_overley ul {
  margin-top: 127px;
}
.team .team_items .team_img .team_overley ul li a {
  margin-right: 11px;
}
.team .team_items .team_img .team_overley ul li a i {
  color: #FFFFFF;
  height: 13px;
  width: 13px;
}
.team .team_items .team_img .team_overley ul li a:hover i {
  color: #FCD980;
}
.team .team_items:hover .team_overley {
  opacity: 1;
}

.pricing_plan {
  padding: 128px 0;
}
.pricing_plan .pricing_box {
  margin-top: 64px;
}
.pricing_plan .pricing_box .pricing_item {
  background-color: #F4F6FC;
  padding: 64px 76px 62px 48px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}
.pricing_plan .pricing_box .pricing_item .prices {
  display: flex;
  align-items: center;
}
.pricing_plan .pricing_box .pricing_item .prices p {
  margin-left: 8px;
  color: #2405F2;
}
.pricing_plan .pricing_box .pricing_item h6 {
  padding-top: 20px;
  padding-bottom: 8px;
}
.pricing_plan .pricing_box .pricing_item p {
  font-weight: 500;
}
.pricing_plan .pricing_box .pricing_item .price_list {
  margin-top: 78px;
}
.pricing_plan .pricing_box .pricing_item .price_list ul .martop {
  padding-top: 30px;
}
.pricing_plan .pricing_box .pricing_item .price_list ul .marbottom {
  padding-bottom: 40px;
}
.pricing_plan .pricing_box .pricing_item .price_list ul li {
  padding-bottom: 20px;
}
.pricing_plan .pricing_box .pricing_item .price_list ul li a {
  display: flex;
  align-items: center;
}
.pricing_plan .pricing_box .pricing_item .price_list ul li a p {
  margin-left: 12px;
  color: #282938;
}
.pricing_plan .pricing_box .pricing_item .price_btn {
  text-align: center;
  margin-top: 59px;
}
.pricing_plan .pricing_box .pricing_item .price_btn a {
  background-color: #282938;
  padding: 16px 77.5px;
  color: #F4F6FC;
  border-radius: 41px;
}
.pricing_plan .pricing_box .pricing_item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  -webkit-clip-path: ellipse(110% 53% at 50% 47%);
          clip-path: ellipse(110% 53% at 50% 47%);
  z-index: -2;
  border-radius: 12px;
  opacity: 0;
}
.pricing_plan .pricing_box .pricing_item:hover.pricing_item::after {
  opacity: 1;
  background: linear-gradient(0deg, rgb(67, 70, 130) 100%, rgb(57, 58, 101) 100%);
  transition: all linear 0.5s;
}
.pricing_plan .pricing_box .pricing_item:hover {
  background-color: #1c1e53;
  transition: all linear 0.5s;
}
.pricing_plan .pricing_box .pricing_item:hover .prices h3 {
  color: #ffffff;
}
.pricing_plan .pricing_box .pricing_item:hover .prices p {
  color: #FCD980;
}
.pricing_plan .pricing_box .pricing_item:hover h6,
.pricing_plan .pricing_box .pricing_item:hover p {
  color: #ffffff;
}
.pricing_plan .pricing_box .pricing_item:hover .price_list ul li a p {
  color: #ffffff;
}
.pricing_plan .pricing_box .pricing_item:hover .price_list ul li a:hover p {
  color: #FCD980;
  transition: all linear 0.5s;
}
.pricing_plan .pricing_box .pricing_item:hover .price_list ul li a:hover svg path {
  fill: #FCD980;
  transition: all linear 0.5s;
}
.pricing_plan .pricing_box .pricing_item:hover .price_btn a {
  background-color: #FCD980;
  color: #282938;
}

.feature_logo {
  padding: 96px 0;
}

.best_class {
  padding-bottom: 128px;
}
.best_class .best_class_text {
  padding: 41px 0;
}
.best_class .best_class_text span {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.best_class .best_class_text h3 {
  max-width: 624px;
  padding: 16px 0;
}
.best_class .best_class_text p {
  max-width: 624px;
}
.best_class .best_class_img {
  text-align: end;
}
.best_class .best_class_img img {
  width: 100%;
}

.free_revision {
  padding: 128px 0;
  background-color: #F4F6FC;
}
.free_revision .free_revision_text {
  padding: 41px 0 0 41px;
}
.free_revision .free_revision_text span {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.free_revision .free_revision_text h3 {
  max-width: 624px;
  padding: 16px 0;
}
.free_revision .free_revision_text p {
  max-width: 624px;
}
.free_revision .free_revision_img {
  text-align: right;
}
.free_revision .free_revision_img img {
  width: 100%;
}

.support {
  padding-top: 128px;
}

.quick_deliver {
  background-color: #FFFBF2;
}

.work_hero {
  padding: 96px 0;
  background-color: #F4F6FC;
}
.work_hero .work_hero_text {
  margin-top: 50px;
}
.work_hero .work_hero_text h2 {
  padding-top: 4px;
  padding-bottom: 24px;
}
.work_hero .work_hero_text .work_hero_icon {
  margin-top: 32px;
  text-align: center;
}
.work_hero .work_hero_text .work_hero_icon ul li a {
  margin-right: 28px;
  color: rgb(1, 1, 17);
}
.work_hero .work_hero_text .work_hero_icon ul li :last-child {
  margin-right: 0px;
}
.work_hero .work_hero_text .work_hero_icon ul li a:hover {
  color: #FCD980;
}

.our_work {
  padding: 96px 0;
}
.our_work .work_mixit_btn {
  padding-bottom: 48px;
}
.our_work .work_mixit_btn ul li {
  display: inline-block;
}
.our_work .work_mixit_btn ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  opacity: 0.7;
}
.our_work .work_mixit_btn ul li .mixitup-control-active {
  color: #4024F4;
  opacity: 1;
}
.our_work .work_card {
  margin-bottom: 64px;
}
.our_work .work_card .work_img {
  padding: 33px 39px;
}
.our_work .work_card .work_img img {
  width: 100%;
}
.our_work .work_card h3 {
  padding-top: 24px;
  padding-bottom: 12px;
}
.our_work .work_card .work_card_btn {
  padding-top: 24px;
}
.our_work .work_card .work_card_btn a {
  color: #282938;
}
.our_work .work_card .work_card_btn a span {
  margin-left: 16px;
}
.our_work .work_card .work_card_btn a:hover {
  color: #FCD980;
}
.our_work .work_card .work_card_btn a:hover path {
  fill: #FCD980;
}

.cta_section {
  padding-top: 32px;
  padding-bottom: 128px;
}
.cta_section .cta_text {
  text-align: center;
}
.cta_section .cta_text p {
  padding-top: 20px;
}
.cta_section .cta_text .cta_btn {
  padding-top: 40px;
}
.cta_section .cta_text .cta_btn a {
  padding: 16px 48px;
  border: 1px solid #1B1C2B;
  border-radius: 41px;
  color: #1B1C2B;
}
.cta_section .cta_text .cta_btn a:hover {
  background-color: #FCD980;
  color: #1B1C2B;
}

.main_blog {
  padding-top: 128px;
}
.main_blog .main_blog_header {
  text-align: center;
}
.main_blog .main_blog_header h2 {
  padding-bottom: 16px;
}
.main_blog .main_blog_header p {
  padding-bottom: 32px;
}
.main_blog .main_blog_img img {
  width: 100%;
}
.main_blog .blog_body h3 {
  padding-top: 56px;
  padding-bottom: 32px;
}
.main_blog .blog_body p {
  opacity: 0.7;
}
.main_blog .blog_body p span {
  color: #2405F2;
}
.main_blog .blog_body ul {
  padding: 24px 0;
  list-style: disc;
}
.main_blog .blog_body ul li {
  margin-bottom: 12px;
}
.main_blog .blog_body ul li p {
  margin-left: 7px;
}
.main_blog .blog_body .blog_body_img {
  margin-top: 32px;
}
.main_blog .blog_body .blog_body_img img {
  width: 100%;
}
.main_blog .blog_img_text {
  text-align: center;
}
.main_blog .blog_img_text p {
  padding-top: 48px;
  padding-bottom: 16px;
}
.main_blog .blog_img_text .blog_img_btn a:hover {
  color: #FCD980;
}

.blog .blog_head {
  text-align: center;
}
.blog .blog_item {
  margin-bottom: 64px;
}

.read_header {
  padding-top: 128px;
}
.read_header .read_header_text h6 {
  color: #282938;
  opacity: 0.8;
}
.read_header .read_header_text h2 {
  max-width: 646px;
  padding-top: 12px;
  padding-bottom: 16px;
}
.read_header .read_header_text p {
  font-weight: 500;
  max-width: 817px;
  padding-bottom: 48px;
}
.read_header .read_img {
  padding: 60px 87px 65px 88px;
  margin-bottom: 48px;
}
.read_header .read_img img {
  width: 888px;
}
.read_header .infomation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #BFBFC3;
}
.read_header .infomation .information_item h6 {
  padding-top: 4px;
}

.about_article {
  padding-top: 96px;
}
.about_article h3 {
  padding-bottom: 12px;
}
.about_article p {
  padding-bottom: 24px;
}
.about_article .list {
  list-style: disc;
}
.about_article .list li p {
  margin-left: 17px;
}
.about_article .article_img {
  padding: 43px 57px;
  margin-bottom: 64px;
}
.about_article .article_img img {
  width: 100%;
}

.keywords {
  padding: 96px 0;
}
.keywords ul {
  display: flex;
  padding: 24px 0;
  border-top: 1px solid #BFBFC3;
  border-bottom: 1px solid #BFBFC3;
  justify-content: space-between;
}
.keywords ul li a {
  font-weight: 500;
  color: #282938;
  opacity: 0.7;
}
.keywords ul li .act {
  color: #2405F2;
  opacity: 1;
  font-size: 18px;
}

.contact_main {
  padding: 128px 0;
}
.contact_main .contact_head {
  text-align: center;
}
.contact_main .contact_head h2 {
  padding-bottom: 16px;
}
.contact_main .contact_head p {
  max-width: 562px;
  margin: auto;
  padding-bottom: 64px;
}
.contact_main .contact_form {
  background-color: #F4F6FC;
  border-radius: 12px;
  padding: 55px 77px 69px 77px;
}
.contact_main .contact_form form .form-label {
  font-weight: 500;
  margin-bottom: 6px;
}
.contact_main .contact_form form .form-control {
  height: 64px;
  border-radius: 8px;
}
.contact_main .contact_form form .form-control::-moz-placeholder {
  padding: 18px 32px;
  font-weight: 500;
  color: #000000;
}
.contact_main .contact_form form .form-control:-ms-input-placeholder {
  padding: 18px 32px;
  font-weight: 500;
  color: #000000;
}
.contact_main .contact_form form .form-control::placeholder {
  padding: 18px 32px;
  font-weight: 500;
  color: #000000;
}
.contact_main .contact_form form .message .form-control {
  height: 138px;
  padding: 18px 32px;
  border-radius: 8px;
}
.contact_main .contact_form form .send_btn {
  margin-top: 32px;
}
.contact_main .contact_form form .send_btn a {
  padding: 16px 48px;
  border: 1px solid #F4F6FC;
  border-radius: 41px;
  color: #FFFFFF;
  background-color: #000000;
}
.contact_main .contact_form form .send_btn a:hover {
  background-color: #FCD980;
  color: #000000;
}

.privacy_plicy {
  padding: 128px 0;
}
.privacy_plicy .privacy_head {
  text-align: center;
}
.privacy_plicy .privacy_head p {
  max-width: 562px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.privacy_plicy .privacy_tittle h3 {
  padding-top: 40px;
  padding-bottom: 32px;
}
.privacy_plicy .privacy_tittle p {
  opacity: 0.7;
}
.privacy_plicy .privacy_tittle p span {
  color: #2405F2;
}
.privacy_plicy .privacy_tittle ul {
  list-style: disc;
  padding-top: 24px;
  padding-bottom: 4px;
}
.privacy_plicy .privacy_tittle ul li {
  margin-bottom: 12px;
}
.privacy_plicy .privacy_tittle ul li p {
  margin-left: 16px;
}/*# sourceMappingURL=style.css.map */